// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  font-size: Verdana, Geneva, sans-serif;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #fff;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: $black;
  padding-top: 15px;
  padding-right: 30px;
  font-size: 10px;
}

.header .wrapper-inner {
  padding: 0;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}
table.container {
  background: none;
}
.container {
  width: $global-width;
}

table h2 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

table h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 900;
}

table p.text-center {
  margin-bottom: 20px;
  font-weight: 500;
}