---
subject: С днем рождения!
---
<div style="background-color:#31B3E5;" class="container">
  <!--[if gte mso 9]>
  <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" src="" color="#31B3E5"/>
  </v:background>
  <![endif]-->
  <table height="1158px" width="596px" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td valign="top" align="center" background="http://portal-skoda.ru/resources/img/email/Body_bg.jpg">
        <wrapper class="header">
          <container>
            <row class="collapse">
              <columns small="6">
                <img src="http://portal-skoda.ru/resources/img/email/Logo.png">
              </columns>
              <columns small="6">
                <p class="text-right">SIMPLY CLEVER</p>
              </columns>
            </row>
          </container>
        </wrapper>

        <container>

          <spacer size="230"></spacer>

          <row>
            <columns small="12">
              <h2 class="text-center">Константин</h2>
              <h2 class="text-center">Константинопольский,</h2>
              <h1 class="text-center">С ДНЁМ РОЖДЕНИЯ!</h1>
            </columns>
          </row>

          <spacer size="235"></spacer>

          <row>
            <columns small="12">
              <p class="text-center">
                Команда ŠKODA AUTO Россия<br>
                поздравляет Вас с Днем Рождения!
              </p>
              <p class="text-center">
                Примите наши пожелания всего наилучшего<br>
                в этот прекрасный день. Пусть Ваша жизнь будет наполнена радостью, яркими впечатлениями, новыми озарениями<br>
                и заслуженными победами. А все жизненные перемены мы желаем воспринимать как любопытные повороты, за которыми только радость и удачное разрешение трудностей.<br>
              </p>
              <p class="text-center">
                Мы, в свою очередь, будем продолжать улучшать качество<br>
                нашего сотрудничества и совместно с Вами<br>
                достигать самых амбициозных целей!<br>
              </p>
            </columns>
          </row>
        </container>
      </td>
    </tr>
  </table>
</div>